* {
    text-align: center;
}

.title {
    font-size: 70px;
}

footer {
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* piano */

#piano .whiteKey, #piano .whiteKeyFake{
    height: 200px;
    width: 100px;
    background-color: lightgray;
}

#piano .whiteKeyFake {
    display: inline-block;
    border: solid black;
}

#piano .blackKey {
    height: 100px;
    width: 50px;
    background-color: black;
    float: right;
}

/* pomodoro */

#pomodoro #timer {
    font-size: 30px;
}

#pomodoro #session {
    font-size: 17px;
}

#pomodoro #sessionSecond, #pomodoro #breakSecond {
    margin-right: 20px;
}